<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Usuario</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <body>
        <div class="container">
            <img src="https://st3.depositphotos.com/32435016/34276/v/450/depositphotos_342766268-stock-illustration-vector-home-icon-symbol-house.jpg" alt="Home" class="home-icon" onclick="window.location.href='/home';">
            <h1 class="title">Bienvenido</h1>
            <p class="subtitle">Que tipos de pruebas van a reslizar</p>
            <div class="button-container">
                <a href="/prueba-disc" class="btn">Ir a DICS</a>
                <a href="/prueba-elo" class="btn">Ir a ELO</a>
            </div>
        </div>
    </body>
    </html>
</body>
</html>